.aino-editor,
.aino-editor *{box-sizing:border-box;}

.aino-editor .editor{outline:none;}

.aino-editor .inject {
    position:absolute;
    display:none;
    background:#ddd;
    height:28px;
    border-radius:2px;
    box-shadow:0 1px 0 rgba(0,0,0,.03);
    transition: all 80ms ease-out;
    -webkit-transition:all 80ms ease-out;
    margin: -5px 0 0 12px;
}

.aino-editor .inject .injectinput {display:none;}

.aino-editor .inject button {
    height:28px;
    width:32px;
    text-align:center;
    border:none;
    border-left:1px solid rgba(255,255,255,.5);
    float:left;
    margin:0;
    background:transparent;
    color:#888;
    font:15px/1 sans-serif;
    display:block;
    -webkit-font-smoothing:antialiased;
    outline:none;
    cursor:pointer;
}

.aino-editor .inject .injectinput input {
    width:250px;
    height:28px;
    padding:0 6px;
    color:#888;
    margin:0;
    font:12px arial,sans-serif;
    outline: none;
    border: none;
    background:transparent;
    -webkit-font-smoothing:antialiased;
}

.aino-editor .inject.input .injectinput{display:block;}
.aino-editor .inject.input button {display:none;}

.aino-editor .inject button:first-child{border:none}

.aino-editor .inject .arr {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 4px 0;
    left: -4px;
    top: 10px;
    border-color: transparent #ddd transparent transparent;
}

.aino-editor .toolbar {
    position:absolute;
    display:none;
    background:#5dbda3;
    height:36px;
    border-radius:2px;
    box-shadow:0 2px 0 rgba(0,0,0,.05);
    transition: all 80ms ease-out;
    -webkit-transition:all 80ms ease-out;
}

.aino-editor .toolbar button {
    height:36px;
    width:36px;
    text-align:center;
    border:none;
    border-left:1px solid rgba(255,255,255,.2);
    float:left;
    margin:0;
    background:transparent;
    color:#fff;
    font:13px/1 sans-serif;
    display:block;
    -webkit-font-smoothing:antialiased;
    outline:none;
    cursor:pointer;
}

.aino-editor .toolbar button:first-child{border:none;}

.aino-editor .toolbar button:hover{color:rgba(255,255,255,.7);}

.aino-editor .toolbar button small{line-height:0;font-weight:bold;position:relative;top:-2px;left:1px;}

.aino-editor .toolbar button.active {
    background:#53a68f;
}

.aino-editor .toolbar .linkinput{display:none;height:36px;}

.aino-editor .toolbar .linkinput input {
    background:transparent;
    border: none;
    padding: 0 8px;
    width:100%;
    height:36px;
    color:#fff;
    outline: 0;
    margin: 0;
    position:absolute;
    top:0;
    left: 0;
    outline: none;
    font:12px arial,sans-serif;
    -webkit-font-smoothing:antialiased;
}

.aino-editor .toolbar .linkinput input::-webkit-input-placeholder {color: rgba(255,255,255,.5);}
.aino-editor .toolbar .linkinput input::-moz-placeholder {color: rgba(255,255,255,.5);}
.aino-editor .toolbar .linkinput input -ms-input-placeholder {color: rgba(255,255,255,.5);}

.aino-editor .toolbar button.center{display:none}
.aino-editor .toolbar.heading button.center{display:block}
.aino-editor .toolbar.heading button.bold,
.aino-editor .toolbar.heading button.italic,
.aino-editor .toolbar.heading button.list{display:none}

.aino-editor .toolbar.link .linkinput{display:block}
.aino-editor .toolbar.link button{display:none!important;}

.aino-editor .toolbar .arr {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 6px 7px;
    border-color: transparent transparent #5dbda3 transparent;
}
.aino-editor .toolbar.top .arr{
    border-width: 6px 7px 0 7px;
    border-color: #5dbda3 transparent transparent transparent;
}

.aino-editor .static.selected{outline:2px solid #ff4;}


.injectinput .folder {vertical-align: middle; color: #888; padding: 0 4px; border-left: 1px solid #888;}

#resizer { width: 10px; height: 10px; background: #ff4; position:absolute; right: 0; bottom: 0; cursor: se-resize; }
