body {
	background-color: #000;
	padding: 0;
	.container{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		background: #fff;
	}
}

header {
	// TBD responsive
	min-height: 130px;
	width: 100%;
	background-color: #000;
	margin:auto;
	top:0px;
	z-index: 1;
	
	.header-content {
		max-width: 1170px;
		margin: 0 auto !important;
		float: none !important;
	}
	
	img {
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-header {
		font-family: 'Poiret One';
		font-size: 2rem;
		text-transform: uppercase;
		text-decoration: none;
		padding-top: 44px;
		
		ul {
			float:right;
		}

		li {
			float: left;
    		list-style: none;
		}

		li a {
			float: left;
			padding: 5px;
			color: #ebebeb;
			-webkit-transition: color 0.3s ease;
		}

		a:hover {
			text-decoration: none;
			color: #aaaaaa;
		}

		a:focus {
			text-decoration: none;
		}
	}
}

.social-block {
	text-align: center;

	.social-block-icon {
		padding-right: 12px;
		padding-left: 12px;
		padding-bottom: 20px;
		padding-top: 10px;
		display: inline-block;

		#facebook-icon {
			background-image: url(../../src/images/facebook.png);
			height: 16px;
	     	width: 16px; 
	     	display: block;
		}

		#twitter-icon {
			background-image: url(../../src/images/twitter.png);
			height: 16px;
	     	width: 16px; 
	     	display: block;
		}

		#plus-google-icon {
			background-image: url(../../src/images/google-plus.png);
			height: 16px;
	     	width: 16px; 
	     	display: block;
		}

		#skype-icon {
			background-image: url(../../src/images/skype.png);
			height: 16px;
	     	width: 16px; 
	     	display: block;
		}

		#facebook-icon:hover {
		  	background-image: url(../../src/images/facebook-white.png);
		}

		#twitter-icon:hover {
			background-image: url(../../src/images/twitter-white.png);
		}

		#plus-google-icon:hover {
			background-image: url(../../src/images/google-plus-white.png);
		}

		#skype-icon:hover {
			background-image: url(../../src/images/skype-white.png);
		}
	}
}

.authorization {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.AdminRightPanel {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding-top: 0;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}

img.img-thumb-gallery {
    max-width: 100%;
    overflow: auto;
}

li img.img-thumb-gallery {
	width: 250px;
	height: auto;
	overflow: auto;
}

li a.thumbnail {
	margin-bottom: 0;
	border: none;
}

.category-list select.form-control {
	margin: 10px;
}

p#message-date {
    font-size: 13px;
    color: grey;
}

body.modal-open #modal-wrapper, body.modal-open .modal-backdrop.fade.in {
	height: 9999px !important;	
}


.modal-dialog {
	overflow: auto;
}

.logo-edit .clearfix {
	.thumbnail {
		cursor: default;
		border: none;
		margin-bottom: 0;
		img.img-thumb-gallery {
			width: 250px;
			height: auto;
		}
	}
}

.baseLayout {
	.centered {
		width: 1170px;
		margin-left: auto;
		margin-right: auto;

		&.row {
			padding: 20px 0 40px;
		}
	}

	.headline {
	  border: 1px solid #eee;
	  border-left: 0;
	  border-right: 0;
	  background: #efefef;
	  color: #0f0f0f;
  	  font-weight: 400;
      letter-spacing: 1.5px;
	}

	.row {
		margin-left: 0;
		margin-right: 0;
	}
}



.editor-wrapper {
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
}

.body {
	overflow: hidden;
}

.image-container.static {
	float: left;
  	padding-right: 10px;
}

.news-block {
	margin-bottom: 30px;
	padding-left: 30px;

	h2 {
		font-family: 'Poiret One';
	}

	.linkArea {
		cursor: pointer;
		
		&:hover {
			opacity: .9;
		}
	}


	.news-date {
		font-size: 1.1rem;
		color: grey;
		margin-bottom: 5px;
		padding-left: 0;
	}


	.news-item {

		.news-thumb {
			padding: 0;

			a.thumbnail {
				margin-bottom: 0;
				padding: 0;
				border: none;
				cursor: default;
			}
		}

		.news-content {
			padding-right: 0;
			margin-bottom: 0;

			.news-item-title-section {
				margin-bottom: 5px;
				padding: 0;

				.news-item-title {
					//font-family: 'Poiret One';
					font-size: 2rem;
					margin-bottom: 0;
				}
			}

			.news-item-intro-section {
				padding: 0;
			}

			.change-image-button {
				padding: 0;
			}

			.edit-buttons {
				padding: 0;
				margin-bottom: 5px;
			}
		}
	}
}

.events-block {

	h2 {
		font-family: 'Poiret One';
	}

	.events-item {

		.events-date {
			font-size: 1.1rem;
			color: grey;
			margin-bottom: 0;
			padding: 0;
		}

		.events-content {
			width: 100%;
			padding: 0;
			margin-bottom: 0;

			.events-item-title-section {
				padding: 0;
				margin-bottom: 5px;

				.events-item-title {
					//font-family: 'Poiret One';
					font-style: bold;
					font-size: 2rem;
					margin-bottom: 0;
				}
			}

			.events-item-intro-section {
				padding: 0;
				margin-bottom: 5px;
			}

			.events-item-date-section {
				padding: 0;
			}

			.edit-buttons {
				padding: 0;
				margin-bottom: 5px;
			}
		}
	}
}

.contact-person-section {

	h2 {
		font-family: 'Poiret One';
	}
	
	h3 {
		margin-top: 0;
	}
	.contact-person-img {
		
		padding: 0;

		a.thumbnail {
			margin-bottom: 0;
			padding: 0;
			border: none;
			cursor: default;
		}
	}
}

.about-content, .impressum-content, .datenschutz-content {
	margin-bottom: 20px;

	h2 {
		font-family: 'Poiret One';
		padding-left: 15px;
	}

	.about-edit-section, .impressum-edit-section, .datenschutz-edit-section {
		margin-top: 20px;
	}
}

.lookbook-content {
	margin-bottom: 20px;

	h2 {
		font-family: 'Poiret One';
		padding-left: 15px;
	}

	.albums-item {
		padding-left: 15px;

		.album-content {
			padding: 0;

			.album-title, .album-item-title {
				margin-top: 15px;
			}

			.album-intro {
				padding: 0;
			}

			.list-group-item {
				border: none;
			}
			
			.album-images-list {
				margin-top: 10px;
				padding: 10px;

				.album-item {
					padding: 5px;
				
					a.thumbnail {
						margin-bottom: 0;
					}
				}
			}

			.edit-buttons {
				margin-bottom: 0;
			}
		}

		.album-content-edit {
			padding: 0;
			margin-bottom: 0;

			.album-title {
				padding: 0;
				margin-top: 5px;
			}

			.album-intro, .album-link {
				padding: 0;
			}

			.album-images-list {
				padding: 0;
				margin-bottom: 0;

				.album-item {
					padding: 0 5px 0 0;
				}

				.album-item-edit {
					padding: 0;

					.album-item-content {
						padding: 0;
						margin-bottom: 0;

						.album-item-image {
							margin-bottom: 0;

							a.thumbnail {
								margin-bottom: 15px;
							}
						}
					}
					.edit-buttons {
						padding: 0 0 20px 15px;
					}
				}
			}

			.edit-buttons {
				padding: 5px 0 10px 0;
				margin-bottom: 0;
			}
		}
	}
}

.adminPage {

	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.pageContent {

	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
}


.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

// TBD
.carousel {

  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }


}

.carousel-caption {

	@media screen and (max-height: 667px) {
		h1 {
			font-family: 'Poiret One';
			font-size: 4rem;
			font-weight: normal;
	    	font-style: normal;
	    }

    	h2 {
			position: relative;
			bottom: 15px;
			font-family: 'Poiret One';
			font-size: 1.5rem;
			font-weight: normal;
	    	font-style: normal;
		}

		margin-top: -105px;
	}
	@media screen and (min-height: 678px) {
		h1 {
			font-family: 'Poiret One';
			font-size: 9.6rem;
			font-weight: normal;
	    	font-style: normal;
		}

		h2 {
			position: relative;
			bottom: 30px;
			font-family: 'Poiret One';
			font-size: 3rem;
			font-weight: normal;
	    	font-style: normal;
		}

		margin-top: -141px;
	}
	text-transform: uppercase;
	top: 50%;
	bottom: auto;
}

.editController {
	position: absolute;
	z-index: 999;
	margin-top: -61px;
	margin-left: 31px;
}

.slide-images-list {
	margin: 20px;
}

.slide-image {
	margin-bottom: 0;
	min-height: 200px;
	.thumbnail {
		padding: 0;
		margin-bottom: 0;
		border: none;
		cursor: default;
	}
}

.shop-button {
	padding: 12px 24px 12px 24px;
	transition: background-color 0.5s ease;
	background-color: #f39c12;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	color: #fff;
	border: none;
	border-radius: 0;
}

.shop-button:hover {
	background-color: #da8c10;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	color: #fff;
}

.shop-button::active {
	background-color: #c27c0e;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	color: #fff;
}

footer {
	bottom: 0;
	width: 100%;
	background: #000;
	position: relative;
	.adm {
		position: absolute;
		right: 10px;
		padding-top: 10px;
		z-index: 1;

		a {
			font-family: 'Poiret One';
			text-transform: uppercase;
			text-decoration: none;
			padding-right: 10px;
			color: #ebebeb;
			-webkit-transition: color 0.3s ease;
		}

		a:hover {
			text-decoration: none;
			color: #aaaaaa;
		}

		a:focus {
			text-decoration: none;
		}

		a:last-child {
			padding-right: 0px;
		}
	}

	.legal-text-link {
		padding-top: 10px;

		a {
			font-family: 'Poiret One';
			text-transform: uppercase;
			text-decoration: none;
			padding-right: 10px;
			color: #ebebeb;
			-webkit-transition: color 0.3s ease;
		}

		a:hover {
			text-decoration: none;
			color: #aaaaaa;
		}

		a:focus {
			text-decoration: none;
		}

		a:last-child {
			padding-right: 0px;
		}
	}

	.navbar-footer {
		position: relative;
	}
	
}

[data-current-page="start"] footer {

	.navbar-footer:not(.staticFooter) {
		position: fixed;
	}
}