// =============================================================================
// Navigation Bar
// =============================================================================

@import "../../node_modules/bootstrap/less/navbar.less";

body {
  padding: @navbar-height 0;
  overflow-y: scroll;
}

.navbar-top {
  &:extend(.navbar);
  &:extend(.navbar-inverse);
  &:extend(.navbar-fixed-top);
}

//.navbar-brand {
  //padding-top: 8px;
  //padding-bottom: 8px;
  //color: #ff0000 !important;
  //font-size: 24px;

  //img {
    //margin-right: 10px;
  //}
//}

//
// Navigation Footer
// -----------------------------------------------------------------------------

.navbar-footer {
  &:extend(.navbar);
  &:extend(.navbar-fixed-bottom);

  background-color: #000;
  background-repeat: repeat-x;
  text-align: center;
  color: #7e7e7e;

  .text-muted {
    margin-top: 1em;

    span + span:before {
      content: "\2022\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 3px 0 7px;
    }
  }
}
