// =============================================================================
// Variables
// =============================================================================

@import "../../node_modules/bootstrap/less/variables.less";
@import url(http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic);

//
// Scaffolding
// -----------------------------------------------------------------------------

// Background color for `<body>`
@body-bg: #fff;
// Global text color on `<body>`
@text-color: #000;
// Global textual link color
@link-color: #686868;

//
// Jumbotron
// -----------------------------------------------------------------------------

@jumbotron-heading-color: #61DAFB;
@jumbotron-color: #E9E9E9;
@jumbotron-bg: #2d2d2d;
@jumbotron-font-size: @font-size-base;
